@charset "UTF-8";
/*z中文 */
/* CSS Document */

#main-frame{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
}

#game .jigsaw-div0{
	margin: 0.1rem 0.05rem 0;
	background: #f00;
	border: 0.05rem #fff solid;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#game .jigsaw-div0 .move-div{
	cursor: pointer;
}
#game .jigsaw-div0.downMove .move-div{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
	-webkit-animation: downAnimation 0.2s linear forwards;
	animation: downAnimation 0.2s linear forwards;
}
#game .jigsaw-div0 .move-div img{
	display: block;
	width: 100%;
}
#game .jigsaw-list{
	padding: 0 0.05rem 0.05rem;
}
#game .jigsaw-list .jigsaw-div{
	float: left;
	background: #f00;
	border: 0.05rem #fff solid;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#game .jigsaw-list .jigsaw-div .move-div{
	cursor: pointer;
}
#game .jigsaw-list .jigsaw-div.upMove .move-div{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
	-webkit-animation: upAnimation 0.2s linear forwards;
	animation: upAnimation 0.2s linear forwards;
}
@-webkit-keyframes upAnimation {
    0%{
    	-webkit-transform: translate(0,0);
		transform: translate(0,0);
    }
    100%{
    	-webkit-transform: translate(0,-100%);
		transform: translate(0,-100%);
    }
}
@keyframes upAnimation {
    0%{
    	-webkit-transform: translate(0,0);
		transform: translate(0,0);
    }
    100%{
    	-webkit-transform: translate(0,-100%);
		transform: translate(0,-100%);
    }
}
#game .jigsaw-list .jigsaw-div.downMove .move-div{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
	-webkit-animation: downAnimation 0.2s linear forwards;
	animation: downAnimation 0.2s linear forwards;
}
@-webkit-keyframes downAnimation {
    0%{
    	-webkit-transform: translate(0,0);
		transform: translate(0,0);
    }
    100%{
    	-webkit-transform: translate(0,100%);
		transform: translate(0,100%);
    }
}
@keyframes downAnimation {
    0%{
    	-webkit-transform: translate(0,0);
		transform: translate(0,0);
    }
    100%{
    	-webkit-transform: translate(0,100%);
		transform: translate(0,100%);
    }
}
#game .jigsaw-list .jigsaw-div.leftMove .move-div{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
	-webkit-animation: leftAnimation 0.2s linear forwards;
	animation: leftAnimation 0.2s linear forwards;
}
@-webkit-keyframes leftAnimation {
    0%{
    	-webkit-transform: translate(0,0);
		transform: translate(0,0);
    }
    100%{
    	-webkit-transform: translate(-100%,0);
		transform: translate(-100%rem,0);
    }
}
@keyframes leftAnimation {
    0%{
    	-webkit-transform: translate(0,0);
		transform: translate(0,0);
    }
    100%{
    	-webkit-transform: translate(-100%,0);
		transform: translate(-100%,0);
    }
}
#game .jigsaw-list .jigsaw-div.rightMove .move-div{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
	-webkit-animation: rightAnimation 0.2s linear forwards;
	animation: rightAnimation 0.2s linear forwards;
}
@-webkit-keyframes rightAnimation {
    0%{
    	-webkit-transform: translate(0,0);
		transform: translate(0,0);
    }
    100%{
    	-webkit-transform: translate(100%,0);
		transform: translate(100%,0);
    }
}
@keyframes rightAnimation {
    0%{
    	-webkit-transform: translate(0,0);
		transform: translate(0,0);
    }
    100%{
    	-webkit-transform: translate(100%,0);
		transform: translate(100%,0);
    }
}
#game .move-div .image-div{
	background: url(../images/messi2.jpg) no-repeat;
}
#game .move-div .image-div0{
	background-position: -100% -100%;
}

#game.column3 .jigsaw-list .jigsaw-div{
	width: 33.33%;
}
#game.column3 .move-div .image-div{
	background-size: 300% 300%;
}
#game.column4 .jigsaw-list .jigsaw-div{
	width: 25%;
}
#game.column4 .move-div .image-div{
	background-size: 400% 400%;
}
#game.column5 .jigsaw-list .jigsaw-div{
	width: 20%;
}
#game.column5 .move-div .image-div{
	background-size: 500% 500%;
}
#game.column6 .jigsaw-list .jigsaw-div{
	width: 16.66%;
}
#game.column6 .move-div .image-div{
	background-size: 600% 600%;
}
#game.column7 .jigsaw-list .jigsaw-div{
	width: 14.28%;
}
#game.column7 .move-div .image-div{
	background-size: 700% 700%;
}
#game.column8 .jigsaw-list .jigsaw-div{
	width: 12.5%;
}
#game.column8 .move-div .image-div{
	background-size: 800% 800%;
}
#game.column9 .jigsaw-list .jigsaw-div{
	width: 11.11%;
}
#game.column9 .move-div .image-div{
	background-size: 900% 900%;
}
#game.column10 .jigsaw-list .jigsaw-div{
	width: 10%;
}
#game.column10 .move-div .image-div{
	background-size: 1000% 1000%;
}

#game .btn-div{
	width: 5rem;
	margin: 0.2rem auto 0;
}
#game .btn-div a{
	display: block;
	font: 0.8rem "微软雅黑","宋体",arial;
	color: #fff;
	line-height: 1.6rem;
	text-align: center;
	background: #00f;
	border-radius: 1rem;
}