@charset "UTF-8";
/*z中文 */
/* CSS Document */

#main-frame{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	background: #464549;
	z-index: 5;
}
.top-frame{
	position: relative;
	width: 100%;
	background: #000;
	z-index: 6;
}
.top-frame .portrait-frame{
	position: absolute;
	width: 18%;
	left: 6.87%;
	bottom: -25.6%;
	z-index: 5;
}
.top-frame .portrait-frame .portrait-div{
	line-height: 0;
}
.top-frame .portrait-frame .portrait-div img{
	width: 100%;
}
.top-frame .portrait-frame .crest-div{
	position: absolute;
	width: 64%;
	left: 19%;
	bottom: 86.2%;
	z-index: 7;
}
.top-frame .portrait-frame .crest-div img{
	width: 100%;
}
.top-frame .portrait-frame .shiny-div{
	position: absolute;
	left: -40%;
	top: -32%;
	width: 165%;
	line-height: 0;
	z-index: 6;
}
.top-frame .portrait-frame .shiny-div img{
	width: 100%;
}
.top-frame .win-div{
	position: absolute;
	width: 31.87%;
	right: 4.37%;
	bottom: -53.2%;
	z-index: 5;
	line-height: 0;
}
.top-frame .win-div img{
	width: 100%;
}
.top-frame .left-words{
	position: absolute;
	left: 26%;
	bottom: 5%;
}
.top-frame .left-words .title-div{
	font: 18px "微软雅黑","宋体",arial;
	color: #fff;
	line-height: 26px;
	margin-bottom: 10px;
}
.top-frame .left-words .name-div{
	font: 14px "微软雅黑","宋体",arial;
	color: #f4c300;
	line-height: 20px;
}
.top-frame .right-words{
	position: absolute;
	left: 57.5%;
	bottom: 2%;
	font: 16px "微软雅黑","宋体",arial;
	color: #f4c300;
	line-height: 1em;
}
.top-frame .right-words span{
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	line-height: 1em;
}
.top-frame .right-words span.number-span{
	font-size: 32px;
	font-weight: bold;
}

.room-place{
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #000;
}
.room-frame{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	background: url(../images/room-bg1.png) no-repeat;
	background-size:100% 100%;
	z-index: 5;
}
.room-frame .floor-frame{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	line-height: 0;
	z-index: 5;
}
.room-frame .floor-frame img{
	width: 100%;
}
.room-frame .metope-frame{
	position: absolute;
	width: 62.2%;
	left: 12.38%;
	top: 20.21%;
	line-height: 0;
	z-index: 6;
}
.room-frame .metope-frame img{
	width: 100%;
}
.room-frame .wardrobe-frame{
	position: absolute;
	width: 26.6%;
	left: 0%;
	top: 0%;
	line-height: 0;
	z-index: 7;
}
.room-frame .wardrobe-frame img{
	width: 100%;
}
.room-frame .television-frame{
	position: absolute;
	width: 22.6%;
	left: 38.7%;
	top: 31.6%;
	line-height: 0;
	z-index: 7;
}
.room-frame .television-frame img{
	width: 100%;
}
.room-frame .lamp-frame{
	position: absolute;
	width: 9.21%;
	bottom: 22.49%;
	z-index: 8;
}
.room-frame .lamp-frame1{
	left: 25.93%;
	-webkit-transform: rotate3d(0,1,0,180deg);
	transform: rotate3d(0,1,0,180deg);
}
.room-frame .lamp-frame2{
	left: 65.64%;
}
.room-frame .lamp-frame .table-frame{
	line-height: 0;
}
.room-frame .lamp-frame .table-frame img{
	width: 100%;
}
.room-frame .lamp-frame .desk-lamp{
	position: absolute;
	width: 66.38%;
	bottom: 96.5%;
	z-index: 5;
}
.room-frame .lamp-frame1 .desk-lamp{
	left: 7.56%;
}
.room-frame .lamp-frame2 .desk-lamp{
	left: 11.76%;
}
.room-frame .lamp-frame .desk-lamp img{
	width: 100%;
}
.room-frame .bed-frame{
	position: absolute;
	width: 44.7%;
	left: 27.67%;
	bottom: 12.3%;
	line-height: 0;
	z-index: 9;
}
.room-frame .bed-frame img{
	width: 100%;
}
.room-frame .pillow-frame{
	position: absolute;
	width: 25.85%;
	left: 37.38%;
	bottom: 31.67%;
	line-height: 0;
	z-index: 10;
}
.room-frame .pillow-frame img{
	width: 100%;
}
.room-frame .quilt-frame{
	position: absolute;
	width: 45%;
	left: 27.6%;
	top: 65.62%;
	line-height: 0;
	z-index: 11;
}
.room-frame .quilt-frame img{
	width: 100%;
}
.room-frame .decoration-frame{
	position: absolute;
	width: 14.86%;
	left: 29.8%;
	bottom: 8.75%;
	line-height: 0;
	z-index: 12;
}
.room-frame .decoration-frame img{
	width: 100%;
}
.room-frame .window-frame{
	position: absolute;
	width: 22.29%;
	left: 77.63%;
	bottom: 18%;
	line-height: 0;
	z-index: 12;
}
.room-frame .window-frame img{
	width: 100%;
}
.room-frame .dome-light{
	position: absolute;
	width: 21.05%;
	left: 40%;
	top: 6.04%;
	line-height: 0;
	z-index: 12;
}
.room-frame .dome-light img{
	width: 100%;
}

.crest-list{
	position: relative;
	background: #000;
	padding: 10px 0;
	z-index: 8;
}
.crest-list ul{
	margin: 0 12%;
}
.crest-list ul:after{
	content: "";
	display: block;
	clear: both;
}
.crest-list li{
	width: 19.4%;
	float: left;
	margin: 0 2.8%;
}
.crest-list li .state-div1{
	line-height: 0;
	text-align: center;
	display: none;
}
.crest-list li.selected .state-div1{
	display: block;
}
.crest-list li .state-div1 img{
	height: 24px;
}
.crest-list li .state-div2{
	font: 14px "微软雅黑","宋体",arial;
	color: #464549;
	line-height: 24px;
	text-align: center;
}
.crest-list li.selected .state-div2{
	display: none;
}
.crest-list li .crest-div{
	line-height: 0;
}
.crest-list li .crest-div img{
	width: 100%;
}

.btn-frame{
	position: relative;
	width: 100%;
	left: 0;
	margin-top: -6%;
	line-height: 0;
	z-index: 7;
}
.btn-frame .luminous-div img{
	width: 100%;
}
.btn-frame .btn-div{
	position: absolute;
	width: 65.46%;
	left: 14.8%;
	top: 28%;
	z-index: 11;
}
.btn-frame .btn-div a{
	display: block;
	line-height: 0;
}
.btn-frame .btn-div a img{
	width: 100%;
}