/*1*/
.p1.swiper-slide-active .starPic{animation:stretchRight 1s 0.5s ease both;-webkit-animation:stretchRight 1s 0.5s ease both;}
.p1.swiper-slide-active .p1_ej{animation:fadeInLeft 0.5s 0.5s ease-in both;-webkit-animation:fadeInLeft 0.5s 0.5s ease-in both;}
.p1.swiper-slide-active .sm_title{animation:bounceInDown 1s 1s ease-in both;-webkit-animation:bounceInDown 1s 1s ease-in both;}
.p1.swiper-slide-active .big_title{animation:expandOpen 1s 2s ease-in both;-webkit-animation:expandOpen 1s 2s ease-in both;}
.p1.swiper-slide-active .star_l{animation: fadeIn 1s 3s linear both;-webkit-animation: fadeIn 1s 3s linear both;}
/*2*/
.p2.swiper-slide-active .p2-text1{animation:fadeIn 1s 0.5s ease-in both;-webkit-animation:fadeIn 1s 0.5s ease-in both;}
.p2.swiper-slide-active .p2-text2{animation:fadeIn 1s 1.5s ease-in both;-webkit-animation:fadeIn 1s 1.5s ease-in both;}
.p2.swiper-slide-active .p2-text3{animation:fadeIn 1s 2.5s ease-in both;-webkit-animation:fadeIn 1s 2.5s ease-in both;}
.p2.swiper-slide-active .gb-bg{animation: zoomInUp 1s 3.5s ease both; -webkit-animation: zoomInUp 1s 3.5s ease both;}
.p2.swiper-slide-active .gb-1{animation: fadeIn 1s 4.5s linear both;-webkit-animation: fadeIn 1s 4.5s linear both;}
.gb-2.on{animation: fadeIn 1s linear both;-webkit-animation: fadeIn 1s linear both;}
.p2.swiper-slide-active .yf_1{animation: slideInRight 0.5s 1s linear both;-webkit-animation: slideInRight 0.5s 1s ease-in both;}
.p2.swiper-slide-active .yf2{animation: slideInLeft 1s 5s linear both;-webkit-animation: slideInLeft 1s 5s ease-in both;}
.p2.swiper-slide-active .yf_ico{animation: note-anim 2s 6s infinite ease both;-webkit-animation: note-anim 2s 6s infinite ease both; -webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
/*3*/
.p3.swiper-slide-active .p3-4{animation:bounceIn 1s 0.5s ease-in both;-webkit-animation:bounceIn 1s 0.5s ease-in both;}
.p3.swiper-slide-active .p3-hb{animation:fadeInDown 0.5s 1s ease-in both;-webkit-animation:fadeInDown 0.5s 1s ease-in both;}
.p3.swiper-slide-active .p3-hd{animation:fadeInDown 0.5s 1.2s ease-in both;-webkit-animation:fadeInDown 0.5s 1.2s ease-in both;}
.p3.swiper-slide-active .p3-hn{animation:fadeInDown 0.5s 1.4s ease-in both;-webkit-animation:fadeInDown 0.5s 1.4s ease-in both;}
.p3.swiper-slide-active .p3-line1{-webkit-animation:run_w1 0.5s 1.5s linear both;animation:run_w1 0.5s 1.5s linear both;}
.p3.swiper-slide-active .p3-1{animation:bounceIn 1s 2s ease-in both;-webkit-animation:bounceIn 1s 2s ease-in both;}
.p3.swiper-slide-active .tip_2 .tip_cloud{animation:expandOpen 1s 2.5s ease-out both;-webkit-animation:expandOpen 1s 2.5s ease-out both;}
.p3.swiper-slide-active .p3-3{animation: fadeIn 1s 3.5s linear both;-webkit-animation: fadeIn 1s 3.5s linear both;}
.p3.swiper-slide-active .p3-line2{-webkit-animation:run_w2 0.5s 4s linear both;animation:run_w2 0.5s 4s linear both;}
.p3.swiper-slide-active .p3-line3{-webkit-animation:run_w3 0.5s 4s linear both;animation:run_w3 0.5s 4s linear both;}
.p3.swiper-slide-active .p3-line4{-webkit-animation:run_w4 0.5s 4s linear both;animation:run_w4 0.5s 4s linear both;}
.p3.swiper-slide-active .p3-5{animation:bounceIn 1s 4.5s ease-in both;-webkit-animation:bounceIn 1s 4.5s ease-in both;}
.p3.swiper-slide-active .p3-6{animation:bounceIn 1s 5s ease-in both;-webkit-animation:bounceIn 1s 5s ease-in both;}
.p3.swiper-slide-active .p3-7{animation:bounceIn 1s 5.5s ease-in both;-webkit-animation:bounceIn 1s 5.5s ease-in both;}
.p3.swiper-slide-active .tip_1 .tip_cloud{animation:expandOpen 1s 6s ease-out both;-webkit-animation:expandOpen 1s 6s ease-out both;}
.p3.swiper-slide-active .p3-2{animation: fadeIn 1s 7s linear both;-webkit-animation: fadeIn 1s 7s linear both;}
/*4*/
.p4.swiper-slide-active .p4-1{animation:fadeInDown 1s 0.5s ease-in both;-webkit-animation:fadeInDown 1s 0.5s ease-in both;}
.p4.swiper-slide-active .p4-2{animation:bounceIn 1s 1s ease both;-webkit-animation:bounceIn 1s 1s ease both;}
.p4.swiper-slide-active .p4-arrows-1{animation:fadeInLeft 0.5s 1.5s ease-in-out both;-webkit-animation:fadeInLeft 0.5s 1.5s ease-in-out both;}
.p4.swiper-slide-active .p4-3{animation:fadeIn 1s 2s ease-in both;-webkit-animation:fadeIn 1s 2s ease-in both;}
.p4.swiper-slide-active .p4-4{animation:flipInX 1s 2.5s ease-in both;-webkit-animation:flipInX 1s 2.5s ease-in both;}
.p4.swiper-slide-active .p4-arrows-2{animation:fadeInDown 0.5s 3s ease-in-out both;-webkit-animation:fadeInDown 0.5s 3s ease-in-out both;}
.p4.swiper-slide-active .p4-5{animation:fadeInDown 1s 3.5s ease-in-out both;-webkit-animation:fadeInDown 1s 3.5s ease-in-out both;}
.p4.swiper-slide-active .p4-6{animation:rotateIn 1s 4s ease-in both;-webkit-animation:rotateIn 1s 4s ease-in both;}
.p4.swiper-slide-active .p4-arrows-3{animation:fadeInRight 0.5s 4.5s ease-in both;-webkit-animation:fadeInRight 0.5s 4.5s ease-in both;}
.p4.swiper-slide-active .p4-7{animation:fadeInLeft 1s 5s ease-in both;-webkit-animation:fadeInLeft 1s 5s ease-in both;}
.p4.swiper-slide-active .p4-8{animation:flipInY 1s 5.5s ease-in both;-webkit-animation:flipInY 1s 5.5s ease-in both;}
.p4.swiper-slide-active .p4-arrows-4{animation:fadeInLeft 0.5s 6s ease-in-out both;-webkit-animation:fadeInLeft 0.5s 6s ease-in-out both;}
.p4.swiper-slide-active .p4-9{animation:fadeInRight 1s 6.5s linear both;-webkit-animation:fadeInRight 1s 6.5s linear both;}
.p4.swiper-slide-active .p4-10{animation:bounceIn 1s 7s linear both;-webkit-animation:bounceIn 1s 7s linear both;}
.p4.swiper-slide-active .p4-arrows-5{animation:fadeInRight 0.5s 7.5s ease-in-out both;-webkit-animation:fadeInRight 0.5s 7.5s ease-in-out both;}
.p4.swiper-slide-active .p4-11{animation:fadeIn 1s 8s ease-in-out both;-webkit-animation:fadeIn 1s 8s ease-in-out both;}
.p4.swiper-slide-active .p4-12{animation:flipInX 1s 8.5s ease-in-out both;-webkit-animation:flipInX 1s 8.5s ease-in-out both;}
.p4.swiper-slide-active .p4-arrows-6{animation:fadeInUp 0.5s 9s ease-in-out both;-webkit-animation:fadeInUp 0.5s 9s ease-in-out both;}
.p4.swiper-slide-active .p4-13{animation:rollIn 1s 9.5s ease-in-out both;-webkit-animation:rollIn 1s 9.5s ease-in-out both;}
.p4.swiper-slide-active .p4-14{animation:fadeInDown 1s 10.5s ease both;-webkit-animation:fadeInDown 1s 10.5s ease both;}
/*5*/
.p5.swiper-slide-active .p5-1{animation:fadeInDown 1s 0.5s ease-in both;-webkit-animation:fadeInDown 1s 0.5s ease-in both;}
.p5.swiper-slide-active .p5-2{animation:fadeInDown 1s 1s ease-in both;-webkit-animation:fadeInDown 1s 1s ease-in both;}
.p5.swiper-slide-active .p5-3{animation:fadeInDown 1s 1.5s ease-in both;-webkit-animation:fadeInDown 1s 1.5s ease-in both;}
.p5.swiper-slide-active .p5-4{animation:expandOpen 1s 2s ease-out both;-webkit-animation:expandOpen 1s 2s ease-out both;}
.p5.swiper-slide-active .p5-5{animation:expandOpen 1s 2.5s ease-out both;-webkit-animation:expandOpen 1s 2.5s ease-out both;}
.p5.swiper-slide-active .p5-7{animation:fadeInLeft 1s 3s ease-in both;-webkit-animation:fadeInLeft 1s 3s ease-in both;}
.p5.swiper-slide-active .p5-9{animation:fadeInRight 1s 3s ease-in both;-webkit-animation:fadeInRight 1s 3s ease-in both;}
.p5.swiper-slide-active .p5-6,
.p5.swiper-slide-active .p5-8{animation:fadeIn 1s 3.5s ease-in both;-webkit-animation:fadeIn 1s 3.5s ease-in both;}
/*6*/
.p6.swiper-slide-active .p6-1{animation:fadeInDown 1s 0.5s ease-in both;-webkit-animation:fadeInDown 1s 0.5s ease-in both;}
.p6.swiper-slide-active .p6-cir-1{animation:fadeInRight 0.5s 1.5s ease-in both;-webkit-animation:fadeInRight 0.5s 1.5s ease-in both;}
.p6.swiper-slide-active .p6-line-1{animation:run_w5 1s 2s linear both;-webkit-animation:run_w5 1s 2s linear both;-webkit-transform-origin: 100% 0%;transform-origin: 100% 0%;}
.p6.swiper-slide-active .p6-cir-2{animation:fadeInLeft 0.5s 2.5s ease-in both;-webkit-animation:fadeInLeft 0.5s 2.5s ease-in both;}
.p6.swiper-slide-active .p6-line-2{animation:run_w5 1s 3s linear both;-webkit-animation:run_w5 1s 3s linear both;-webkit-transform-origin: 0% 0%;transform-origin: 0% 0%;}
.p6.swiper-slide-active .p6-cir-3{animation:fadeInRight 0.5s 3.5s ease-in both;-webkit-animation:fadeInRight 0.5s 3.5s ease-in both;}
.p6.swiper-slide-active .p6-line-3{animation:run_w5 1s 4s linear both;-webkit-animation:run_w5 1s 4s linear both;-webkit-transform-origin: 100% 0%;transform-origin: 100% 0%;}
.p6.swiper-slide-active .p6-cir-4{animation:fadeInLeft 0.5s 4.5s ease-in both;-webkit-animation:fadeInLeft 0.5s 4.5s ease-in both;}
.p6.swiper-slide-active .p6-line-4{animation:run_w5 1s 5s linear both;-webkit-animation:run_w5 1s 5s linear both;-webkit-transform-origin: 0% 0%;transform-origin: 0% 0%;}
.p6.swiper-slide-active .p6-cir-5{animation:fadeInRight 0.5s 5.5s ease-in both;-webkit-animation:fadeInRight 0.5s 5.5s ease-in both;}
.p6.swiper-slide-active .p6-2,
.p6.swiper-slide-active .p6-3,
.p6.swiper-slide-active .p6-4,
.p6.swiper-slide-active .p6-5{animation:fadeInDown 1s 6s ease-in both;-webkit-animation:fadeInDown 1s 6s ease-in both;}
/*7*/
.p7.swiper-slide-active .p7-1{animation:fadeInDown 1s 0.5s ease-in both;-webkit-animation:fadeInDown 1s 0.5s ease-in both;}
.p7.swiper-slide-active .ani_1{animation:fadeIn 1s 1.5s ease-in both;-webkit-animation:fadeIn 1s 1.5s ease-in both;}
.p7.swiper-slide-active .p7-cir-1{animation:fadeInDown 1s 2s ease-in both;-webkit-animation:fadeInDown 1s 2s ease-in both;}
.p7.swiper-slide-active .p7-cir-2,
.p7.swiper-slide-active .p7-cir-3{animation:fadeInLeft 1s 3 ease-in both;-webkit-animation:fadeInLeft 1s 3s ease-in both;}
{animation:rotateIn 1s 3s ease-in both;-webkit-animation:rotateIn 1s 3s ease-in both;}
.p7.swiper-slide-active .p7-cir-4{animation:fadeInUp 1s 2s ease-in both;-webkit-animation:fadeInUp 1s 2s ease-in both;}
.p7.swiper-slide-active .p7-cir-5,
.p7.swiper-slide-active .p7-cir-6{animation:fadeInRight 1s 3s ease-in both;-webkit-animation:fadeInRight 1s 3s ease-in both;}
.ani_2{animation:rotate 3s linear infinite both;-webkit-animation:rotate 3s linear infinite both;}
.p7.swiper-slide-active .p7-2{animation:expandOpen 1s 4s ease-out both;-webkit-animation:expandOpen 1s 4s ease-out both;}
/*8*/
.p8.swiper-slide-active .p8-1{animation:fadeInDown 1s 0.5s ease-in both;-webkit-animation:fadeInDown 1s 0.5s ease-in both;}
.p8.swiper-slide-active .p8-2{animation:fadeInDown 1s 1s ease-in both;-webkit-animation:fadeInDown 1s 1s ease-in both;}
.p8.swiper-slide-active .p8-code{animation:rollIn 1s 1.5s ease-in both;-webkit-animation:rollIn 1s 1.5s ease-in both;}
.p8.swiper-slide-active .p8-3{animation:fadeInDown 1s 2s ease-in both;-webkit-animation:fadeInDown 1s 2s ease-in both;}
@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
 100% {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0;}
  100% {  opacity: 1; }
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% { opacity: 1;}
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInRight {
  0% { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); }
  100% {opacity: 1; -webkit-transform: none; }
}
@keyframes fadeInRight {
  0% { opacity: 0; transform: translate3d(100%, 0, 0); }
  100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  0% {opacity: 0;transform: translate3d(0, 100%, 0); }
  100% { opacity: 1; transform: none; }
}
@keyframes fadeInUp {
  0% { opacity: 0;transform: translate3d(0, 100%, 0); }
  100% { opacity: 1;transform: none; }
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100%{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  0%{
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100%{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes zoomInUp {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
@keyframes zoomInUp {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
@keyframes note-anim{
	0% {
	  opacity: 0;
	  -webkit-transform: translate(0px,30px);
	  transform: translate(0px,30px);
	}
	30% {
	  -webkit-transform:rotate(12deg) translate(-30px,0px);
	  transform:rotate(12deg) translate(-30px,0px);
	}
	45% {
	  opacity: 1;
	}  
	60% {
	  -webkit-transform:rotate(-12deg) translate(30px,-100px);
	  transform:rotate(-12deg) translate(30px,-100px);
	}
	100% {
	  opacity: 0;
	  -webkit-transform:rotate(0deg) translate(0px,-200px);
	  transform:rotate(0deg) translate(0px,-200px);
	}
}
@-webkit-keyframes note-anim{
	0% {
	  opacity: 0;
	  -webkit-transform: translate(0px,30px);
	  transform: translate(0px,30px);
	}
	30% {
	  -webkit-transform:rotate(12deg) translate(-30px,0px);
	  transform:rotate(12deg) translate(-30px,0px);
	}
	45% {
	  opacity: 1;
	}  
	60% {
	  -webkit-transform:rotate(-12deg) translate(30px,-100px);
	  transform:rotate(-12deg) translate(30px,-100px);
	}
	100% {
	  opacity: 0;
	  -webkit-transform:rotate(0deg) translate(0px,-200px);
	  transform:rotate(0deg) translate(0px,-200px);
	}
}
@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes run_w1{
    0%{opacity:0;height: 0;}
    100%{opacity:1;height:14%;}
}
 @keyframes run_w1{
    0%{opacity:0;height: 0;}
    100%{opacity:1;height:14%;}
}
@-webkit-keyframes run_w2{
    0%{opacity:0; height: 0;}
    100%{opacity:1;height:20%;}
}
 @keyframes run_w2{
    0%{opacity:0;height: 0;}
    100%{opacity:1; height:20%;}
}
@-webkit-keyframes run_w3{
    0%{opacity:0; height: 0;}
    100%{opacity:1; height:14%;}
}
 @keyframes run_w3{
    0%{opacity:0;height: 0;}
    100%{opacity:1;height:14%;}
}
/*p3-line-4*/
@-webkit-keyframes run_w4{
   0%{opacity:0;height: 0;}
    100%{opacity:1;height: 26%;}
}
 @keyframes run_w4{
    0%{opacity:0;height: 0;}
    100%{opacity:1;height: 26%;}
}
@-webkit-keyframes run_w5{
   0%{opacity:0;height: 0;}
   50%{opacity: 1;}
    100%{opacity:1;height: 25%;}
}
 @keyframes run_w5{
    0%{opacity:0;height: 0;}
    50%{opacity: 1;}
    100%{opacity:1;height: 25%;}
}
@keyframes stretchRight {
  0% {
    opacity: 0;
    transform: scaleX(0.3);
  }
  40% {
    opacity: 1;
    transform: scaleX(1.02);
  }
  60% {
    transform: scaleX(0.98);
  }
  80% {
    transform: scaleX(1.01);
  }
  100% {
    transform: scaleX(0.98);
  }
  80% {
    transform: scaleX(1.01);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes stretchRight {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0.3);
  }
  40% {
    opacity: 1;
    -webkit-transform: scaleX(1.02);
  }
  60% {
    -webkit-transform: scaleX(0.98);
  }
  80% {
    -webkit-transform: scaleX(1.01);
  }
  100% {
    -webkit-transform: scaleX(0.98);
  }
  80% {
    -webkit-transform: scaleX(1.01);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}
@keyframes expandOpen {
  0% {
    opacity: 0;
    transform: scale(1.8) translateZ(0);
  }
  50% {
    opacity: 1;
    transform: scale(0.95) translateZ(0);
  }
  80% {
    transform: scale(1.05) translateZ(0);
  }
  90% {
    transform: scale(0.98) translateZ(0);
  }
  100% {
    transform: scale(1) translateZ(0);
  }
}
@-webkit-keyframes expandOpen {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.8) translateZ(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(0.95) translateZ(0);
  }
  80% {
    -webkit-transform: scale(1.05) translateZ(0);
  }
  90% {
    -webkit-transform: scale(0.98) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
  }
}
@keyframes rotateIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-220deg);
    -moz-transform: rotate(-220deg);
    -o-transform: rotate(-220deg);
    transform: rotate(-220deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotateIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-220deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
}
@keyframes rotate {
  0% {   
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
  }
}
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}
@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
  }
}
@keyframes flipInY {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}